
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
    position: relative;
  }
  
  .modal h2{
    text-align: center;
    font-size: 30px;
    color: red;
    margin-bottom: 20px;
  }
  .modal input{
    width: 90%;
    border: 1px solid #e74c3c;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .modal span{
    color: red;
    border-radius: 50%;
    position:absolute;
    top:-10px;
    font-size: 30px;
    right: 0;
  }
  .modal button{
    border: 0;
    padding: 7px 15px;
    background-color: #e74c3c;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
  }
  
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  /* chinh nut dang nhap, dang ky, khoi phuc tai khoan */
  .auth-btn {
    padding: 10px 20px;
    background-color: #685120;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
     /* Khoảng cách giữa biểu tượng và chữ */
  }
  .cart-btn{
    padding: 10px 20px;
    background-color: #685120;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
     /* Khoảng cách giữa biểu tượng và chữ */
  }